sapi-firstcoach-routes-schedules/src/main/mule/SAPI-firstCoach-retrieve-consolidated-routes-schedules-bookings.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="SAPI-firstCoach-retrieve-consolidated-routes-schedules-bookings-httpListenerConfig">
        <http:listener-connection host="${http.listner.host}" port="${http.listner.port}" />
    </http:listener-config>
    <apikit:config name="SAPI-firstCoach-retrieve-consolidated-routes-schedules-bookings-config" api="SAPI-firstCoach-retrieve-consolidated-routes-schedules-bookings.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="71221282-42c3-439a-acf1-36e106517da0" file="config/local.yaml" />
	<flow name="SAPI-firstCoach-retrieve-consolidated-routes-schedules-bookings-main">
        <http:listener config-ref="SAPI-firstCoach-retrieve-consolidated-routes-schedules-bookings-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="SAPI-firstCoach-retrieve-consolidated-routes-schedules-bookings-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="SAPI-firstCoach-retrieve-consolidated-routes-schedules-bookings-console">
        <http:listener config-ref="SAPI-firstCoach-retrieve-consolidated-routes-schedules-bookings-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="SAPI-firstCoach-retrieve-consolidated-routes-schedules-bookings-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\routes:SAPI-firstCoach-retrieve-consolidated-routes-schedules-bookings-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType">attributes.uriParams.'transportType'</ee:set-variable>
                <ee:set-variable variableName="transportCompany">attributes.uriParams.'transportCompany'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="0531cf7a-f1a1-4ac2-87dc-736d90f0df18" message="Request Recieved for Routes First Coach SAPI"/>
		<flow-ref doc:name="Flow Reference" doc:id="221b9db1-256b-4401-9462-54f8d04a74b7" name="firstCoach-getRoutes-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="a154bcd8-ef32-4984-afe6-e017c56bbc7c" message="Request sent for Routes First Coach SAPI"/>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:SAPI-firstCoach-retrieve-consolidated-routes-schedules-bookings-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType">attributes.uriParams.'transportType'</ee:set-variable>
                <ee:set-variable variableName="transportCompany">attributes.uriParams.'transportCompany'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8168e1b6-816d-4108-9569-9a6bc6a886cd" message="Request Recieved for Schedules First Coach SAPI"/>
		<flow-ref doc:name="Flow Reference" doc:id="176938ad-d45d-4ee5-86dc-e73737095cbe" name="firstCoach-getSchedule-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="49c69f1a-ab5c-471b-9f6e-78caa3ea893c" message="Request sent for Schedules First Coach SAPI"/>
    </flow>
    <flow name="post:\booking\(transportType)\(transportCompany):SAPI-firstCoach-retrieve-consolidated-routes-schedules-bookings-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType">attributes.uriParams.'transportType'</ee:set-variable>
                <ee:set-variable variableName="transportCompany">attributes.uriParams.'transportCompany'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: 200,
  message: "Booking Confirmed"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
